@use '../../variables';
.initialPage {
    &  h2 {
        font-size: 3rem;
        margin-bottom: 3rem;
        color: variables.$color_primary;
    }
    &  p {
        font-size: 1.25rem;
        color: variables.$color_secondary;
    }
    & > section {
        height: 100vh;
        padding: 2rem 0;

        &:nth-child(2) {
            background-color: rgb(28, 28, 31);
            height: 50vh;
            & > .container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
            }
        }
        &:nth-child(3){
            height: 50vh;
        }
    }

    .firstSection {
        height: calc(100vh - 4rem);
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;
        
        
        & .textField {
            display: flex;
            flex-direction: column;
            padding: 2rem 0;
            width: 50%;
            gap: 1rem;   
        }
    }
    .inviteToRegister {   
        & .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 100%;

            & .textField {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }
    
}