@use '../../variables';

.registrationContainer {
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    min-width: 350px;
    
    & > h1 {
        text-align: center;
        margin-bottom: 2.5rem;
    }
    &_registrationForm {
        width: 100%;
        min-width: 350px;
        max-width: 500px;

        & fieldset{
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            margin-bottom: 1rem;
            & > legend {
                color: variables.$color-secondary;
            }
            & > div {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                
                &  label {
                    cursor: pointer;
                    color: variables.$color-primary;
                }
                & > input {
                    padding: .5rem 1rem;
                    color: #333;
                    outline: none;
                }
                & > select {
                    width: 50px;
                }
                & > div {
                    display: flex;
                    align-items: center;

                    & > svg:first-child {
                        color: variables.$color-primary;
                        font-size: 3rem;
                        cursor: pointer;
                        transition: all .3s linear;
                        &:hover{
                            color: variables.$color-secondary;
                        }
                    }
                    & > input {
                        padding: .5rem 1rem;
                        color: #333;
                        outline: none;
                        width: 100%;
                    }
                }
            }
            & > .displayArray {
                flex-direction: row;
                flex-wrap: wrap;
            }
            & > .divInputRadio {
                
                & > div {
                    display: flex;
                    justify-content: space-evenly;
                    & > div {
                        display: flex;
                        text-align: center;
                        gap: .5rem;

                        & > input[type="radio"] + label {
                            color: variables.$color-secondary;
                        }
                    }
                }
            }
        }
        & > button {
            display: block;
            margin: 0 auto 1rem;
        }
    }
}
