@use 'variables';

* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100Vh;
    background-color: variables.$color_bg;
}
.container {
    width: 80%;
    display: flex;
}
h2{
    color: variables.$color-primary;
}
p {
    color: variables.$color-secondary;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}